html {
    font-family: 'Frank Ruhl Libre', serif, Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;

}
body { 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.LoginForm {
    position: absolute; 
    top: 30%;
    background: lavender;
    background-clip: padding-box;
    padding: 3em;
}